@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

@font-face {
  font-family: 'DinProLight';
  font-style: normal;
  font-weight: 300;
  src: url("../css/fonts/DinPro Light/DINPro_Light.ttf") format('truetype');
}

@font-face {
  font-family: 'DinProReg';
  font-style: normal;
  font-weight: 400;
  src: url("../css/fonts/DinPro Reg/DINPro_Reg.otf") format('truetype');
}

div,p,input,textarea,img,ul,li,h1,h2,h3,h4,h5,h6,header,footer,button,html,body,span{
	display:block;
	margin:0px;
	padding:0px;
	width:auto;
	border:0px;
	border:none;
	text-align:right;
        font-family:'Open Sans Hebrew', sans-serif;
}
iframe{
	border:0px;
	border:none;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
html,body{
	width:100%;
	font-family: 'Open Sans Hebrew', sans-serif;
	font-size: 18px;
	color:#333;
	height: 100%;
	min-height: 100%;
}
body,#body{
overflow-x:hidden;
}
.responsive{
	font-size: 12px;
}
/*.responsive_body{
	font-size:36px;
}
.responsive_body_mobile{
        font-size:54px;
}*/
.wrapper{
	margin:0 auto;
	padding:0 20px;
	max-width:685px;
	width:auto;
}
.rel{
    position:relative;
}
.fx{
	position:fixed;
	top:0;
	left:0;
}
.abs{
	position:absolute;
	top:0;
	left:0;
}
.rabs{
	position:absolute;
	bottom:0;
	right:0;
}
.center{
	text-align:center;
}
.lang_switcher,.logo{
	width:auto;
}
.left{
	float:left;
}
.right{
	float:right;
}
.bold{
	font-weight:bold;
}
.inline{
	display:inline;
}
.rtl{
	direction:rtl;
}
.pointer{
	cursor:pointer
}
.rtl-align-left{
	text-align:left;
}
.rtl-float-left{
	float:left;
}
.backwards .rtl-float-left{
	float:right;
}
.rtl-align-right{
	text-align:right;
}
.rtl-float-right{
	float:right;
}
.clear{
	padding:0px !important;
	margin:0px !important;
	width:0px !important;
	height:0px !important;
	clear:both !important;
	float:none !important;
}
.red{
    color:#d2232a;
}
.red_bg{
    padding-left:6px;
    padding-right:6px;
    color:#fff;
    background-color:#d2232a;
}
.black{
    color:#000;
}
.no_border-bottom{
	border-bottom:none !important;
	border-bottom:0 !important;
}
.shadow{
-webkit-box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.75);
box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.75);
}
.inactive{
	display:none;
}
.round_image{
        border-radius: 50%;
	overflow:hidden;
}
.dif{
	width:100%;
	padding:125px 0 100%;
	color:#445565;
	background-image:url("../img/b092.png");
	z-index:9999;
}
.w{
	margin: 0 auto;
	padding-bottom:45px;
	width:520px;
	background:#fff;
        border:2px solid #fff;
        border-radius: 1px;
}
.responsive .w{
	width:100%;
        border:0;
        border:none;
        border-radius:0;
}
.responsive .dif{
	padding-top:0;
}
/*.dif img{
	margin:0 auto;
	padding:14px 0;
}
.responsive .dif img{
	padding:19px 0;
}*/
.dif .login_form_logo{
    width:100%;
    height:75px;
    background-color:#272426;
    overflow: auto;
}
.responsive .dif .login_form_logo{
    height:88px;
}
.caution{
        margin:0 auto;
        padding-top:25px;
        max-width: 425px;
        line-height:30px;
        font-size:25px;
}
.responsive .caution{
        padding-top:55px;
        max-width: 425px;
        line-height:25px;
	font-size:21px;
}
.caution div{
    padding:5px 0;
}
.dif input{
	margin:12px auto 0;
	padding:0 5px;
        width:100%;
	max-width:280px;
	height:55px;
	line-height:55px;
	font-size:23px;
	color:#445565;
        text-align:center;
	background-color:#c8c8c9;
}
.dif input[type=submit]{
        padding:0;
	width:100%;
	max-width:290px;
	color:#fefefe;
	background-color:#d2232a;
}
.password::-webkit-input-placeholder, .email::-webkit-input-placeholder {
   text-align: center;
}
.password:-moz-placeholder, .email:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}
.password::-moz-placeholder, .email:-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}
.password:-ms-input-placeholder, .email:-ms-input-placeholder {  
   text-align: center; 
}

@media screen and (max-width:400px) {
	
}

/*header*/
#header{
    width:100%;
    height:75px;
    background-color:#272426;
    overflow: hidden;
}
.responsive #header{
    height:auto;
}
.logo{
    padding:20px 15px 0;
    width:172px;
}
.logo a{display:block}
.responsive .logo{
    padding:10px 15px 0;
    width:147px;
}
.rd{
    margin-right:-20px;
    padding:15px 20px 12px;
}
.rd .right{
    margin:-5px 0 -5px;
    line-height:25px;
    font-size:19px;
}
.rd{
    color:#030303;
    background-color:#ebebeb;
}
.responsive .rd{
    margin-top:-1px;
    padding:15px 10px;
    width:100% !important;
    height:61px;
    line-height: 21px;
    font-size:17px;
}
.responsive .rd img{margin-bottom:5px}
.responsive .rd br{display:none;}
.responsive .rd div.right{width:100%;text-align:left;}

.menu{
    width:85px;
    height:75px;
    background-image:url("../img/hamburger.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor:pointer;
}
.responsive .menu{
    width:50px;
    height:50px;
}
.az{
    width:172px;
    background-color: #fff;
}
.az_logo{
    height:49px;
    overflow:hidden;
}
.az_title{
    height:26px;
    line-height: 25px;
    font-size:13px;
    color:#272426;
    text-align: center;
    border-bottom:1px solid #ebebeb;
}
.responsive .az_title{display:none}
.responsive .az{
    max-width:110px;
}
/*header*/

/*top*/
#top{
    width:100%;
    height:693px;
    overflow:hidden;
}
.responsive #top{
    height:394px;
}
.page_details{
    padding:0 30px 48px;
    width:100%;
    max-width:587px;
    line-height: 34px;
    font-size:27px;
    color:#fff;
    font-weight:bold;
    text-align: center;
    background-image:url("../img/b092.png");
}
.page_details .page_title, .page_details .page_reference{
    text-align: center;
}
.responsive .page_details{
    padding:0 30px 19px;
    font-size:21px;
    line-height:27px;
}
.page_details .page_reference{
    display:inline-block;
    margin:0 auto 30px;
    padding:0 5px;
    width:auto;
    height:25px;
    line-height: 25px;
    font-size:17px;
    font-weight: normal;
    overflow:auto;
}
.responsive .page_details .page_reference{
    margin-bottom:14px;
    font-size:15px;
}
.article_links{
    top:75px;
    left:auto;
    right:0;
    padding-bottom:14px;
    width:257px;
    height:auto;
    max-height:693px;
    color:#010101;
    background-color:#ebebeb;
}
.responsive .article_links{
    top:48px;
    width:100%;
    height:auto;
}
.article_link{
    padding:18px 15px 12px 15px;
    color:#767676;
    text-align:right;
    line-height:20px;
    font-size:15px;
    border-bottom:2px solid #fff;
}
.responsive .article_link{
    line-height:26px;
}
.article_link a{
    color:#010101;
}
.article_link:hover{
    background-image:url("../img/prev.png");
    background-position:center left;
    background-repeat:no-repeat;
    background-color: #cbcbcb;
}
.article_link div.red_bg{
    margin: 1px 0 1px 6px;
    padding:0 7px;
    height:18px;
    line-height:18px;
    font-size:13px;
    color:#fff;
}
.responsive .article_link .red_bg{
    margin: 0 0 0 6px;
    padding:0 14px;
    height:25px;
    line-height:25px;
    color:#fff;
}
.article_link_note{
     margin-top:10px;
}
.responsive .article_link_note{
     margin-top:5px;
     font-size:13px;
}
/*top*/

/*footer*/
#footer{
    padding:8px 0;
    width:100%;
    height:43px;
    color:#8b8a8b;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    background-color: #272426;
}
#footer img{
    margin:0 auto 5px;
}
/*footer*/

/*article*/
#article{
    margin-top:-345px;
    background-color:#fff;
    z-index:2;
}
.responsive #article{
    margin-top:0 !important;
}
#article .red_bg{
    font-size:17px;
    line-height: 25px;
    
}
.responsive #article .red_bg{
    font-size:15px;
    line-height: 24px;
}
#article .article_title{
    padding: 30px 0 15px;
    line-height: 58px;
    color:#040404;
    font-size:48px;
}
.responsive #article .article_title{
    padding: 14px 0 10px;
    line-height: 32px;
    font-size:28px;
}
#article .article_description{
    line-height: 27px;
    color:#040404;
    font-size:22px;
    font-weight:bold;
}
#article .article_description{
    line-height: 23px;
    font-size:18px;
}
#article .a_ad_s{
    margin:25px 0 20px;
    padding:10px 0 7px;
    color:#666;
    border-top:1px solid #666;
    border-bottom:1px solid #666;
}
#article .a_ad_s .right{
    width:471px;
}
#article .a_ad_s .article_social{
    padding:8px 5px;
    width:184px;
}
.responsive #article .a_ad_s .right, .responsive #article .a_ad_s .article_social{
    width:100%;
}
.responsive #article .a_ad_s .article_social{
    padding-right:0;
}
#article .a_ad_s .article_author{
    font-size:15px;
    line-height:25px;
    font-weight:bold;
}
#article .a_ad_s .article_author_description{
    font-size:13px;
    line-height: 19px;
}
#article .article_content{
    color:#020202;
    font-size:18px;
    line-height: 25px;
}
.responsive #article .article_content{
    color:#020202;
    font-size:17px;
    line-height: 24px;
}
#article .article_references{
    padding-bottom:175px;
    font-size:12px;
    line-height: 14px;
}
#article .article_references div{
    padding-bottom:10px;
    text-align:left;
}
#article div.article_references_title{
    margin:60px 0 20px;
    height:33px;
    font-size:22px;
    line-height:33px;
    text-align: right;
    border-bottom:1px solid #666;
}
#article .article_social div.left{
    margin:0 8px;
    width:28px;
    height:28px;
    background-color: #cbcbcb;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor:pointer;
}
.responsive #article .article_social div.left{
    float:right;
}
#article .article_social div.left a{
    display: block;
    height:28px;
    width:28px;
}
/*article*/